<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header> 
<div class="header-logo">
    <a href="/">webku</a>
</div>
<div class="header-menus">
    <li>
        <a href="/artikel">home</a>
    </li>

   <li>
        <a href="/post/index">post</a>
    </li>

     <li>
        <a href="/artikel">artikel</a>
    </li>

    <li>
        <a href="/about">about</a>
    </li>
</div>
</header>
    <%= yield %>
  </body>
</html>
